    <% include ../views/partials/header.ejs %>
   	    <header class="business-header">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 tagline">
	                    <h1>GeoRacer</h1><!--<h3>What will you find?</h3>-->
	                </div>
	            </div>
	        </div>
	    </header>
	    <div class="container">
	        <hr>
	        <div class="row">
	            <div class="col-sm-4">
	                <div class="panel panel-default info_panel">
					  <div class="panel-body">
					    <h3><b>What is GeoRacer?</b></h3>
					    <p>GeoRacer is an online multiplayer world based around exploration and competitive gameplay. You will be dropped in the world in a random city and will have to race other players in order to find certain objectives, the one who finds all their objectives first wins!</p>
					    <a class="btn btn-sm btn-primary" href="about.html">More Info...</a>
					  </div>
					</div>
	            </div>
	            <div class="col-sm-4">
	                <div class="panel panel-default info_panel">
					  <div class="panel-body">
					    <h3><b>Play against anyone</b></h3>
					    <p>GeoRacer has a built in match making system, so you can play with anyone around the world by simply clicking on the button below.</p>
					    <a class="btn btn-sm btn-primary" href="public_lobby.html">Find Public Game</a>
					  </div>
					</div>
	            </div>
	            <div class="col-sm-4">
	                <div class="panel panel-default info_panel">
					  <div class="panel-body">
					    <h3><b>Invite your friends</b></h3>
					    <p>Create a private lobby for just you and your friends, this means random people search for a game will not be placed inside your lobby.</p>
					    <a class="btn btn-sm btn-primary" href="private_lobby.html">Start Private Game</a>
					  </div>
					</div>
	            </div>
	        </div>
	        <hr>
	        <footer>
	            <div class="row">
	                <div class="col-lg-12">
	                </div>
	            </div>
	        </footer>
	        <% include ../views/partials/footer.ejs %>