<html>
	<head>
		<title>GeoRacer</title>
		<link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
		<link href="css/main.css" rel="stylesheet" type="text/css"/>
		<link href="css/ingame.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	    <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="#">GeoRacer</a>
	            </div>
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="index.html">Home</a>
	                    </li>
	                    <li>
	                        <a href="findinggame.html">Public Game</a>
	                    </li>
	                    <li>
	                        <a href="findinggame.html">Private Game</a>
	                    </li>
	                    <li>
	                        <a href="about.html">About</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </nav>
	    <div class="game_window">
	    	<div class="row-fluid">
	    		<div class="col-md-3 remove_pad">
			    	<div class="menu_dropdown dropdown">
					  	<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    	Menu
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Settings</a></li>
						    <li><a href="#">Report Bug</a></li>
						    <li><a href="#">Leave Game</a></li>
					  	</ul>
					</div>
				</div>
	    		<div class="col-md-5 remove_pad">
			    	<div class="objective">
			    		<h4><span>Your current objective is:</span></h4>
			    		<h3><span>Find the nearest restaurant</span></h3>
			    	</div>
			    </div>
	    		<div class="col-md-3 col-md-offset-1 remove_pad ">
	    			<a class="btn btn-xs btn-primary toggle_target" id="toggle_minmap" data-toggle="show" data-target=".minimap" data-addclass="show_minimap_button" data-showtext="Show Map" data-hidetext="Hide Map">Hide Map</a>
			    	<div class="minimap">
			    	</div>
			    	<div class="information hidden-sm hidden-xs">
			    		<br>
			    		<p>You are currently on objective <span>2</span>/<span>5</span><br>
			    		There are 10 players remaining in the game</p>
			    		<br>
			    		<table>
			    			<tr>
			    				<th> Players </th>
			    				<th> Objective </th>
			    			</tr>
			    			<tr>
			    				<td>Player 1</td>
			    				<td>4</td>
			    			</tr>
			    			<tr>
			    				<td>Player X</td>
			    				<td>4</td>
			    			</tr>
			    			<tr>
			    				<td>Player 4</td>
			    				<td>3</td>
			    			</tr>
			    			<tr>
			    				<td>Player 6</td>
			    				<td>2</td>
			    			</tr>
			    			<tr>
			    				<td>Player 7</td>
			    				<td>2</td>
			    			</tr>
			    		</table>		
			    	</div>
			    </div>
			</div>
	    	<div class="row-fluid chat_container">
	    		<a class="btn btn-sm btn-primary toggle_target" id="toggle_chat" data-toggle="show" data-target=".game_chat" data-addclass="show_chat_button" data-showtext="Show Chat" data-hidetext="Hide Chat">Hide Chat</a>
			    <div class="col-xs-12 game_chat">
		        	<div class="col-xs-12 output">
		        		<span class="message"><span class="name">Player 1</span>: <span class="content">Hey guys, goodluck everyone!</span></span></span><br>
		        		<span class="message"><span class="name">Player 2</span>: <span class="content">Thanks man, you too</span></span></span><br>
		        		<span class="message"><span class="name">Player X</span>: <span class="content">I've found the first objective, catch up</span></span></span><br>
		        		<span class="message"><span class="name">Player 1</span>: <span class="content">Me too!</span></span></span><br>
		        		<span class="message"><span class="name">Player 2</span>: <span class="content">I still can't find it</span></span></span><br>
		        	</div>
		        	<div class="col-xs-10 inputbox">
		        		<input type="text" placeholder="Click here to chat a message"/>
		        	</div>
		        	<div class="col-xs-2 sendbutton">
		        		<a href="#" class="btn btn-sm btn-default">Send</a>
		        	</div> 
				</div>
			</div>
	    </div>
	    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/ingame.js"></script>
	</body>
</html>