<% include ../views/partials/header.ejs %>
	    <div id="street_view_container" class="game_window">
	    	<div class="row-fluid">
	    		<div class="col-md-3 remove_pad hidden-sm hidden-xs">
	    			<!--
			    	<div class="menu_dropdown dropdown">
					  	<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    	Menu
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Settings</a></li>
						    <li><a href="#">Report Bug</a></li>
						    <li><a href="#">Leave Game</a></li>
					  	</ul>
					</div>
				-->
				</div>
	    		<div class="col-md-5 col-sm-6 remove_pad objective_box">
			    	<div class="objective">
			    		<h3><span>Your current objective is:</span></h3>
			    		<h4><span>Find the nearest restaurant</span></h4>
			    	</div>
			    </div>
	    		<div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 remove_pad ">
	    			<a class="btn btn-xs btn-primary toggle_target" id="toggle_minmap" data-toggle="show" data-target=".minimap" data-addclass="show_minimap_button" data-showtext="Show Map" data-hidetext="Hide Map">Hide Map</a>
			    	<div id="mini_map_container" class="minimap"></div>
			    	<div class="information">
			    		<p>You are currently on objective <span id="current_objective_count">2</span>/<span id="total_objective_count">5</span></p>
			    		<p><b><span id="player_count">0</span></b> players remaining in the game</p>
			    		<table id="players_current_objectives">
			    			<tr>
			    				<th> Players </th>
			    				<th> Objective </th>
			    			</tr>
			    		</table>		
			    	</div>
			    </div>
			</div>
	    	<div class="row-fluid chat_container">
	    		<a class="btn btn-sm btn-primary toggle_target" id="toggle_chat" data-toggle="hide" data-target=".game_chat" data-addclass="show_chat_button" data-showtext="Show Chat" data-hidetext="Hide Chat">Show Chat</a>
			    <div class="col-xs-12 game_chat" style="display:none;">
		        	<div class="col-xs-12 output">
		        	</div>
		        	<div class="col-xs-10 inputbox">
		        		<input type="text" placeholder="Click here to chat a message" id="chat_input"/>
		        	</div>
		        	<div class="col-xs-2 sendbutton">
		        		<a href="#" class="btn btn-sm btn-primary" id="send_message">Send</a>
		        	</div> 
				</div>
			</div>
	    </div>
	    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	    <script src="/js/markerwithlabel.js"></script>
	    <script src="/js/ingame.js"></script>
	</body>
</html>