    <% include ../views/partials/header.ejs %>
	    <div class="container" id="lobby">
	        <div class="row">
	            <div class="col-xs-3">
	            	<h4>GeoRacer Public lobby</h4>
	            </div>
	            <div class="col-xs-3 col-xs-offset-6 align_right">
	            	<h4>Current Players:</h4>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-xs-8 lobby_left">
	        		<div class="row">
		        		<div class="col-xs-5 lobby_buttons">
		        			<a id="start_game" href="" class="btn btn-sm btn-primary">Start Game</a>
		        			<a href="#" class="btn btn-sm btn-primary">Invite Player</a>
		        			<a href="#" class="btn btn-sm btn-danger">Leave Game</a>
		        		</div>
		        		<div class="col-xs-6">
		        			Please note that the game is not currently working and is purely for lobby functionality demonstration
		        		</div>
		        	</div>
	        		<div class="row">
		        		<div class="col-xs-12 lobby_chat">
		        			<div class="col-xs-12 output">
		        			</div>
		        			<div class="col-xs-10 inputbox">
		        				<input id="chat_input" type="text"/>
		        			</div>
		        			<div class="col-xs-2 sendbutton">
		        				<a id="send_message" class="btn btn-sm btn-primary">Send</a>
		        			</div> 
		        		</div>
		        	</div>
	        	</div>
	        	<div class="col-xs-3 col-xs-offset-1 lobby_players">
	        		<a id="player_name" class="btn btn-sm btn-primary">Player 1 name</a>
	        		<div class="other_users">
	        			
	        		</div>
	        	</div>
	    </div>
	    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	    <script src="/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	    <script>
	    	$(document).ready(function(){
	    		//prompt user for their name
			    var username = prompt("Please enter your name", "Joe");
			    while (username == "" || username == null) {
			    	//Maybe add verfication to ensure username doesnt already exsists (extra)
			        username = prompt("Please enter your name", "Joe");
			    }

			    //Show their name in the blue box
			    $("#player_name").text(username);

			    //get lobby id from url
		    	var lobby_id = parseInt(window.location.pathname.split( '/' )[2]);

		    	//open socket
			  	var socket = io.connect(window.location.origin,{query:'page=2&lobby_id='+lobby_id+'&username='+username}); //page=2 means show we're in a lobby

			  	//add to right pannel when a player joins
			  	socket.on('player_joined', function(result){
			  		var players_name = result.username;
					$(".other_users").append("<a class=\"btn btn-sm btn-default "+players_name+"\">"+ players_name + "</a>")
			  	});

			  	//remove from right pannel when a player leaves
			  	socket.on('player_left', function(result){
			  		var players_name = result.username;
					$("." + players_name).remove();
			  	});

			  	//remove from right pannel when a player leaves
			  	socket.on('lobby_message_s', function(result){
			  		console.log(result);
			  		$(".lobby_chat .output").html($(".lobby_chat .output").html() + result.username + " : " + result.input + "<br>");
			  	});

			  	//remove from right pannel when a player leaves
			  	socket.on('s_start_game', function(result){
					localStorage.setItem("username", username);
    				window.location = "/ingame/" + lobby_id;
			  	});

			  	$("#chat_input").keyup(function(event){
				    if(event.keyCode == 13){
				        $("#send_message").click();
				    }
				});

			  	$("#send_message").click(function(e){
			  		//Get chat message
			  		var input = $("#chat_input").val();
			  		if(input == null || input == "")
    					return;
    				//Clear old chat message and focus back onto the input box
    				$("#chat_input").val('').focus();
    				
    				socket.emit('lobby_message_c', { input : input, username : $("#player_name").text(), lobby_id : lobby_id});
			  		
			  		console.log(input);
			  	});

			  	$("#start_game").click(function(e){
    				socket.emit('start_game', { lobby_id : lobby_id});
			  	});
	    	});


		</script>
	</body>
</html>