.game_window{
	width:100%;
	height:100%;
	position:relative;
	background-size:cover;
}

.game_window *{
	z-index:100;

}

.game_window .minimap {
	width:75%;
	float:right;
	height:250px;
	background-color:#555;
	color:white;
	background-size:cover;
	padding:2px;
	border:2px solid rgba(0,0,0,0.8);
	margin-top:20px;
}

.game_window .menu_dropdown{
	top:90px;
	left:0px;
	margin-bottom:20px;
} 

.game_window .objective {
	width:100%;
	left:0;right:0;
	margin: 0 auto;
	text-align:center;
	text-shadow:0 0 5px #444;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.45);
}

.game_window .objective h3{
	margin-top:10px;
	font-size:1.1em;
}
.game_window .objective * {
	font-family: 'Hammersmith One', sans-serif;
}

.remove_pad {
	margin-top:0;
	padding:0;
}

.game_window .information{
	width:75%;
	float:right;
	text-align:center;
	font-family: 'Hammersmith One', sans-serif;
	color:white;
	background:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.8);
	border-top:none;
	padding:15px 0;
	position:relative;
}

.game_window .information table{
	font-family: 'Hammersmith One', sans-serif;
	color:white;
	width:100%;
	min-width:135px;
	margin:0;
	padding:0;
}
.game_window .information td, .game_window .information th{
	text-align: center;
}

.game_chat{
	position:relative;
}

.game_chat .output{
	background-color:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.8);
	height:300px;
	color:white;
	overflow-y:auto;
	padding-left:5px;
	padding-right:5px;
}

.game_chat .output .content{
	color:#CCC;
}

.game_chat .inputbox, .game_chat .sendbutton{
	padding:0;
}

.game_chat .inputbox input{
	width:100%;
	height:31px;
	background-color:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.45);
	border-top:none;
	color:white;
	padding-left:5px;
}

.game_chat .inputbox input:active{
	border:2px solid rgba(0,0,0,0.8);

}
.game_chat .sendbutton .btn{
	width:100%;
}

.chat_container {
	width:40%;
	min-width:485px;
	max-width:575px;
	position:absolute;
	left:5px;
	bottom:5px;
}


.chat_container > .col-xs-12{
	padding:0;
	margin:0;
}

#toggle_chat{
	position: absolute;
	left:0px;
	top:-31px;
}

.show_chat_button{
	top:-30px !important;
}

#toggle_minmap{
	position: absolute;
	right:0;
	top:0;
	width:75%;
	z-index:101;
}



@media (min-width: 769px) and (max-width: 992px) {
	.game_window .minimap {
		width:100%;
	}
	#toggle_minmap{
		position: absolute;
		right:0;
		top:0;
		width:100%;
		z-index:102;
	}
}

@media (max-width: 768px) {
	.game_window .minimap {
		width:100%;
	}
	#toggle_minmap{
		position: absolute;
		right:0;
		top:0;
		width:100%;
		z-index:102;
	}
	.objective_box > div > h4 {
		padding:0;
		margin:0;
	}
	.objective_box{
		background-color:#444;
		height:90px;
	}

	.objective_box > .objective{
		background-color:rgba(0,0,0,0);
		border:none;
		margin-top:0px;
		padding-top:10px;
	}
}

.gm-style > div:nth-child(10){
	display:block !important;
	z-index:200;
}

#back_to_start{
	position:absolute;
	width:350px;
	height:100px;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.45);
	padding:5px;
	text-align: center;
}

#found_objective{
	position:absolute;
	width:350px;
	height:70px;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	color:white;
	background-color:rgba(0,0,0,0.7);
	border:2px solid rgba(0,0,0,0.45);
	padding:5px;
	text-align: center;
	font-weight:bold;
}

#closeometer{
	display:inline-block;
	line-height:20px;
	width:70%;
	padding:5px 10px;
}

#closeometer input{
	display:inline-block;
	width:100%;
	display:inline;
	-webkit-appearance: none;
  	background: #333; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, blue , red); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, blue, red); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(right, blue, red); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, blue , red); /* Standard syntax */
  	border:2px solid #111;
  	height:20px;
}

#closeometer input::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
  	width: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid white;
}
.colseometer_labels{
	position:absolute;
	display:inline-block;
	width:10%;
	margin:0;

}
.colseometer_labels:first-of-type{
	left:4%;
}
.colseometer_labels:last-of-type{
}
.colseometer_container{
	position:relative;
	width:100%;
}
div.gm-style div.gmnoprint {
	z-index:150 !important;
}

div.gm-style > div:nth-child(10){
	display:none !important;
}
 .labels {
   color: white;
   background-color: black;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   white-space: nowrap;
 }